@*
    ViewData["Title"] = "About Us";
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4" style="font-family:courier;">About Us</h1>
    <div class="text-left">
        <p style="font-family:courier;">
            KhumaloCraft Emporium, founded in 2021, by visionary entrepreneur James Khumalo aims to globally showcase handcrafted
            ceramics. James worked in the business industry for 15 years of his life, and lost his job due to Covid.
            In quarantine he picked up pottery as a hobbie and fell inlove with it. In 2021 he decided to pursue his new hobbie as a profession and open up a Handmade Crafts Retail.
        </p>
        <div class="quarter">
            <img src="~/PhotosForCloudDev/james.jpeg" alt="james" width="500" height="400">
        </div>
    </div>
</div>
