@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="quarter">
        <div class="display-middle large"><h1 class="display-4; display-middle large" style="font-family:courier;">KhumaloCrafts Emporium</h1></div>
        <img src="~/PhotosForCloudDev/index_plates.jpeg" alt="Index Plates" width="1000" height="660">
        <p style="font-family:courier;"> Welcome to KhumaloCrafts Emporium Online Retail!!</p>
    </div>
</div>

