
@*
    ViewData["Title"] = "My Work";
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<div class="text-center">
    <h1 class="display-4" style="font-family:courier;">My Work</h1>

    <style>
        .image-container {
            display: flex;
            flex-direction: row;
        }

            .image-container img {
                margin-right: 10px;
            }
    </style>

    <div class="row-padding, image-container" id="ceramics">
        <div class="quarter">
            <img src="~/PhotosForCloudDev/Kari_ceramic_bowls.jpeg" alt="Nesting bowls" width="350" height="200">
            <h3 style="font-family:courier;">Nesting Bowl Set</h3>
            <p style="font-family:courier;">R420</p>
        </div>

        <div class="quarter">
            <img src="~/PhotosForCloudDev/b_saucer_mug.jpeg" alt="Blue Saucer & Mug" width="350" height="200">
            <h3 style="font-family:courier;">Blue Mug & Saucer Set</h3>
            <p style="font-family:courier;">R350</p>
        </div>

        <div class="quarter">
            <img src="~/PhotosForCloudDev/spotted_mug.jpeg" alt="Spotted Mug" width="350" height="200">
            <h3 style="font-family:courier;">Spotted Mugs</h3>
            <p style="font-family:courier;">R150</p>
        </div>

        <div class="quarter">
            <img src="~/PhotosForCloudDev/trinket_dish.jpeg" alt="Trinket Dish" width="350" height="200">
            <h3 style="font-family:courier;">Trinket Dish</h3>
            <p style="font-family:courier;">R260</p>
        </div>
    </div>


    <div class="row-padding, image-container">
        <div class="quarter">
            <img src="~/PhotosForCloudDev/soap_dish.jpeg" alt="Soap Dish" width="350" height="200">
            <h3 style="font-family:courier;">Soap Dish</h3>
            <p style="font-family:courier;">R250</p>
        </div>

        <div class="quarter">
            <img src="~/PhotosForCloudDev/casserole_dish.jpeg" alt="Casserole Dish" width="350" height="200">
            <h3 style="font-family:courier;">Casserole Dish</h3>
            <p style="font-family:courier;">R650</p>
        </div>

        <div class="quarter">
            <img src="~/PhotosForCloudDev/weird_bowls.jpeg" alt="Unique Bowls" width="350" height="200">
            <h3 style="font-family:courier;">Assymetrical Bowls</h3>
            <p style="font-family:courier;">R350</p>
        </div>

        <div class="wquarter">
            <img src="~/PhotosForCloudDev/leaf_mug.jpeg" alt="Leaf Mug" width="350" height="200">
            <h3 style="font-family:courier;">Garden Mugs</h3>
            <p style="font-family:courier;">R140</p>
        </div>
    </div>
</div>
